<!DOCTYPE html>
<html lang="de">
<head>
    <title>Mini-Netflix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='m70_mini_netflix.css') }}">
</head>
<body>
    <div class="container">
        <h1>🎬 Mini-Netflix</h1>
        <a href="{{ url_for('show_movies') }}" class="btn">📜 Filmliste- und verwaltung</a>
        <a href="{{ url_for('add_movie') }}" class="btn">➕ Neuen Film hinzufügen</a>
        <a href="{{ url_for('rent_movie') }}" class="btn">📽️+ Film ausleihen</a>
        <a href="{{ url_for('return_movie') }}" class="btn">📽️- Filme zurückgeben</a>
        <a href="{{ url_for('users') }}" class="btn">👤 Kundenverwaltung</a>
    </div>
</body>
</html>